= t 'user_mailer.activation.instructions.step1'
= t 'user_mailer.activation.instructions.step2'

= edit_user_activation_url(@user.activation_token, locale: I18n.locale)

= t 'user_mailer.activation.instructions.step3'
