= t 'user_mailer.password_reset.instructions.step1'

-# TODO: Resolve automatically to default/user locale?
= edit_password_reset_url(I18n.locale, @user.password_reset_token)

= t 'user_mailer.password_reset.instructions.step2'
